* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.header-nav{
    top: 0%;
    background: url('../images/fontNavBar.png') ; 
    background-size: contain;
    background-repeat: repeat-x;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;

}

.header-nav>ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    flex-direction: row;
}
.header-nav>ul>*{
    margin: 7px;
}
.header-nav>ul:last-child{
    margin-right: 20px;
}
.header-nav>h1{
    margin-left: 20px;
}
.header-nav>h1:hover{
    cursor: pointer;
}
.lienBlanc>a{
    color:white;
}
.lienRouge>a{
    color:red;
}
.lienVert>a{
    color:green;
}

